:root {
  /* colours */
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  /* font-sizing */
  --base: 13px;
  --lg: 1.2rem;
  --xl: 1.8rem;
  /* misc */
  --b-rad: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "manrope";
}

html {
  font-size: var(--base);
}

body {
  width: 100vw;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5rem 2rem;
  border-radius: var(--b-rad);
  max-width: 38rem;
}

.main-container-image {
  width: 100%;
  height: auto;
  max-height: 30rem;
  z-index: 0;
}

.content-container {
  margin-top: -3rem;
  padding: 3rem 2rem 2rem 2rem;
  z-index: 1;
  background-color: white;

  & h1 {
    font-size: var(--lg);
    margin-bottom: 1rem;
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
  }
  & h3 {
    font-size: var(--base);
    padding-right: 1rem;
    color: var(--Desaturated-Dark-Blue);
  }
}

#avatar-social-container {
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  border-bottom-left-radius: var(--b-rad);
  border-bottom-right-radius: var(--b-rad);
  height: 5rem;

  & #avatar-info-container {
    display: flex;

    & .avatar-icon-image {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
    }

    & .avatar-icon-info {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      text-align: start;

      & .avatar-icon-name,
      .avatar-icon-date {
        font-size: var(--base);
      }

      & .avatar-icon-name {
        color: var(--Very-Dark-Grayish-Blue);
      }

      & .avatar-icon-date {
        color: var(--Desaturated-Dark-Blue);
      }
    }
  }

  
  
  

  & #social-icons {
    align-items: center;
    display: none;

    & .social-icons-text {
      font-size: var(--base);
      letter-spacing: 0.3rem;
      color: var(--Grayish-Blue);
    }

    & img {
      margin-left: 1rem;
    }
  }

  

  & .avatar-icon-share-container {
    background-color: var(--Light-Grayish-Blue);
    align-content: center;
    height: 2.3rem;
    width: 2.3rem;
    text-align: center;
    border-radius: 50%;
    margin: 0 1rem 0 auto;
    align-self: center;

    & .avatar-icon-share {
      height: 1rem;
      width: 1rem;
    }
  }
}


